/* 乐淘的主题颜色 */
/* a的颜色 */
/* 边框颜色 */
* {
  margin: 0rem;
  padding: 0rem;
}
html {
  font-size: 100px;
}
body {
  font-size: 0.16rem;
}
img {
  vertical-align: middle;
}
a {
  color: #5a5a5a;
}
.bor-l {
  border-left: 1px solid #666;
}
.bor-r {
  border-right: 1px solid #666;
}
.bor-t {
  border-top: 1px solid #666;
}
.bor-b {
  border-bottom: 1px solid #666;
}
#header {
  width: 100%;
  height: 0.44rem;
  background-color: #ff841d;
  padding: 0.09rem 0.1rem;
  display: flex;
  justify-content: space-between;
}
#header .header-logo img {
  height: 0.25rem;
}
#header .header-back span {
  color: #fff;
  font-size: .30rem;
}
#header .header-title span {
  font-size: .18rem;
  color: #fff;
  line-height: .26rem;
}
#header .header-app img {
  height: .3rem;
}
.search {
  padding: .1rem;
  justify-content: space-between;
  background-color: #fff;
  display: flex;
}
.search .input-search {
  flex: 1;
  padding: 0 .1rem 0 0;
}
.search .input-search input {
  box-sizing: border-box;
  border: none;
  outline: none;
  background-color: #f1f1f1;
  padding: .05rem .15rem;
  width: 100%;
  height: .32rem;
  border-radius: .16rem;
  color: #5a5a5a;
  font-size: .14rem;
}
.search .input-btn {
  width: .6rem;
}
.search .input-btn input {
  background-color: #ff841d;
  color: #fff;
  font-weight: normal;
  border: none;
  outline: none;
  width: .6rem;
  height: 100%;
  border-radius: .16rem;
}
#footer {
  padding-top: .05rem;
}
#footer .footer-nav {
  display: flex;
  text-align: center;
  line-height: .45rem;
  box-shadow: 0 0 .02rem #666;
}
#footer .footer-nav .footer-login {
  flex: 2;
}
#footer .footer-nav .footer-registe {
  flex: 2;
}
#footer .footer-nav .return-top {
  flex: 3;
}
#footer .footer-nav .return-top img {
  width: .18rem;
  height: .18rem;
  vertical-align: text-bottom;
}
#footer .footer-info {
  text-align: center;
  padding: .1rem 0;
}
#footer .footer-info p {
  margin-bottom: 0;
  color: #5a5a5a;
}
#footer .footer-info p .download {
  color: red;
}
#main #nav a {
  display: block;
  text-align: center;
}
#main #nav a img {
  width: 70px;
  height: 70px;
}
#main #productList .content ul li a {
  display: flex;
}
#main #productList .content ul li a .left {
  width: 120px;
}
#main #productList .content ul li a .left img {
  width: 106px;
}
#main #productList .content ul li a .right {
  flex: 1;
}
